/ footer.fixed-bottom.bg-dark.py-5
footer.min-vh-100.bg-light.py-5
  .container.px-4.px-lg-5
    / .py-3
    /   / TrustBox widget - Review Collector
    /   .trustpilot-widget[data-locale="de-DE" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="691b0378a2a6c61dba08ef2d" data-style-height="52px" data-style-width="100%" data-token="4e72ac30-0c78-496a-88d2-d917ccbec7bd"]
    /     a[href="https://de.trustpilot.com/review/tschmid.io" target="_blank" rel="noopener"]
    /       | Trustpilot
      / End TrustBox widget

    .pb-3
      .small.text-center
        .pb-3
          a IMPRINT
        div M.Sc. Tobias Schmid
        div Freiberuflicher IT Berater und Software Engineer
        div.pt-3 Treptower Str 92
        div 12059 Berlin
        div 
          | E-Mail: 
          = link_to "hi@tschmid.io", "mailto:hi@tschmid.io"
    .small.text-center
      div
        |  Copyright © 
        = Time.now.year
        |  - 
        = config[:title]
      div 
        =link_to "Privacy Policy", "/privacy-policy.html"
        
      