nav#mainNav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.py-2
  .container.d-flex.justify-content-between
    a.navbar-brand.text-secondary href="/"
      i.px-3.bi.bi-circle-fill.text-primary
      | tschmid.io
    h4
      a.button.btn.btn-outline-secondary href="https://calendly.com/hi-tschmid/kennenlernen" target='_blank'
        i.bi.bi-calendar
        b.px-3 Kostenloses Erstgespräch
