// COLORS
$primary: #cb2892;
$secondary: #3F5E7D;
$light: #CFDBE7;
$dark: #333333;
$body-bg: #fff;
$input-bg: #fff;

$border-radius: 0.2em;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
$btn-padding-y: 0.6em;
$btn-padding-x: 1.4em;
$nav-link-font-weight: bold;

// Accordion
$accordion-button-active-bg: #fff; //$secondary;
// $accordion-button-active-color: #fff;
// NOTE: enable again when we have the content stuff
$accordion-button-icon:         none;
$accordion-button-active-icon:  none;


// Highlight without HX
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem
);