$primary: #cb2892;
$body-bg: #fff;
$input-bg: #fff;
$border-radius: 0.2em;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
$btn-padding-y: 0.6em;
$btn-padding-x: 1.4em;
$nav-link-font-weight: bold;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: #fff;