/ ---
/ title: Welcome
/ ---

.row.justify-content-md-center
  .col-12.col-xl-9
    .page-section
      .row.pt-5.text-start
        .d-none.d-lg-block
          / on desktop we want more space
          .page-section
        .col-12.col-lg-7
          .pt-5.text-start
            h1 DIGITAL EFFIZIENT
          
            div.py-3
              h4 
                i.px-1.bi.bi-check
                | Durch integrierte Systeme 
              h4 
                i.px-1.bi.bi-check
                | Schnittstellen
              h4
                i.px-1.bi.bi-check 
                | und clevere Automatisierungen 
            
            div.py-3
              h5
                i.bi.bi-play-circle.text-primary
                span.px-2.pb-2
                  | Deine digitale Transformation kann hier und jetzt starten
              
              p Ich begleite Unternehmen, die noch stark von Handarbeit geprägt sind, auf dem Weg zu echter Unternehmenseffizienz – strategisch, technisch und auf Augenhöhe.
            
            .text-end
              a.button.btn.btn-outline-primary.bg-gradient href="https://calendly.com/hi-tschmid/effizienzgespraech" target="_blank"
                i.px-3.bi.bi-headset
                | kostenloses Effizienzgespräch buchen 
          
        .col-12.col-lg-5.order-first.order-lg-1
          img.img-fluid src="#{image_path('portrait.jpeg')}"  

    

    .page-section
      .row.pb-3
        .col.text-start
          h4 
            i.bi.bi-play-circle.text-primary
            span.px-2
            | KENNST DU DAS ?
          / h4 KENNST DU ETWAS DAVON ?
      .row 
        .col-12.text-start.pt-3

          .display-9.pb-4
            i.px-3.bi.bi-x-circle
            | Informationen sind verteilt: zwischen E-mail Postfächern, Excel Tabellen und verschiedenen Systemen
          .display-9.pb-4
            i.px-3.bi.bi-x-circle
            | Informationen sind nicht digitalisiert
          .display-9.pb-4
            i.px-3.bi.bi-x-circle
            | Die Abläufe im Backoffice sind mühsam und manuell
          .display-9.pb-4
            i.px-3.bi.bi-x-circle
            | Die Kommunikation mit Kunden und Partnern ist aufwendig: viele E-Mail Schleifen und Telefonate
          .display-9.pb-4
            i.px-3.bi.bi-x-circle
            | Produkte oder Produktteile sind nicht selbsterklärend und intuitiv zu benutzen
          .display-9.pb-4
            i.px-3.bi.bi-x-circle
            | Der Funktionsumfang bestehender Systeme deckt die eigenen Anforderungen nicht ausreichend ab
          
          .pt-4
            b
              i.px-3.bi.bi-arrow-right
              | Dann sollten wir sprechen ...

    

    .page-section
      .row.pb-3
        .col.text-start
          h4 
            i.bi.bi-play-circle.text-primary
            span.px-2
            | IN 3 SCHRITTEN ZU MEHR UNTERNEHMENSEFFIZIENZ
      .row 
        / .col-12
        /   hr.divider
        /   .pb-5
        .col-12.col-lg-4.text-start.pt-3
          / .border.border-secondary.p-5
          .card.h-100
            / img src="#{image_path('erstgespraech_logo.png')}" class="card-img-top" alt="..."
            / img src="#{image_path('headset.svg')}" class="card-img-top pt-2" alt="..."
            .card-body.pt-5
              .display-8.card-title 
                i.px-3.bi.bi-headset
                | Effizienzgespräch
              .card-text.pt-4
                | Wir schauen uns gemeinsam dein Digitalisierungs- und Effizienz-Stand an und identifizieren erste Pain-Points. Du bekommst erste Tipps, wie du durch digitale Lösungen effizienter wirst. Entscheide dann selbst, ob ich dich bei der weiteren Strategieentwicklung und Umsetzung unterstützen soll.
            .card-body.text-end
              a.card-link. href="https://calendly.com/hi-tschmid/effizienzgespraech" target="_blank"
                | jetzt kostenlos buchen

        .col-12.col-lg-4.text-start.pt-3
          / .border.border-secondary.p-5
          .card.h-100
            / img src="#{image_path('lightbulb.svg')}" class="card-img-top pt-2" alt="..."
            .card-body.pt-5
              .display-8.card-title 
                i.px-3.bi.bi-lightbulb
                | Strategie Entwicklung
              .card-text.pt-4
                | Wir entwickeln deine Digitalisierungs- & Effizienz-Strategie. Passgenau zu deinem Unternehmen und deinem aktuellen Stand - egal wo du gerade stehst. Wir identifizieren Digitalisierungspotentiale sowie aufwendige Abläufe, priorisieren und entwickeln ein Umsetzungs-Konzept.
        .col-12.col-lg-4.text-start.pt-3
          / .border.border-secondary.p-5
          .card.h-100
            .card-body.pt-5
              .display-8.card-title  
                i.px-3.bi.bi-gear-wide-connected
                | Umsetzung
              .card-text.pt-4
                | Gemeinsam setzen wir deine Maßnahmen um - für deinen Effizienz-Boost. Je nach deiner aktuellen Situation führen wir neue Systeme ein, integrieren sie in deine Abläufe, digitalisieren und automatisieren Prozesse, entwickeln maßgeschneiderte digitale Anwendungen oder unterstützen deine Abläufe durch KI.

    

    / .page-section
    /   .row.pb-3
    /     .col.text-start
    /       h4 
    /         i.bi.bi-play-circle.text-primary
    /         span.px-2
    /         | EGAL WO DU STEHST
    /       / h4 EGAL AUF WELCHEM EFFIZIENZ LEVEL DU AKTUELL STEHST
    /   .row 
    /     .col-12.text-start
    /       p.pb-3 gemeinsam entwickeln wir passgenau zu deiner aktuellen Situation einen Strategie-Plan für mehr Effizienz.

    /       .display-9
    /         / button type="button" class="btn btn-primary p-1"
    /         / i.px-3.bi.bi-person-arms-up
    /         i.px-3.bi.bi-circle
    /         | Alles Manuell - Keine Digitalisierung
    /       .display-9
    /         i.px-3.bi.bi-three-dots-vertical
    /       .display-9
    /         / i.px-3.bi.bi-display
    /         i.px-3.bi.bi-circle
    /         | Digitale Systeme einführen
    /       .display-9
    /         i.px-3.bi.bi-three-dots-vertical
    /       .display-9
    /         / i.px-3.bi.bi-gear
    /         i.px-3.bi.bi-circle
    /         | Prozesse optimieren - effizient & digital 
    /       .display-9
    /         i.px-3.bi.bi-three-dots-vertical
    /       .display-9
    /         / icon: magic, patch-check, list-check
    /         / i.px-3.bi.bi-list-check
    /         i.px-3.bi.bi-circle
    /         | Prozesse automatisieren
    /       .display-9
    /         i.px-3.bi.bi-three-dots-vertical
    /       .display-9
    /         / icon: openai
    /         / i.px-3.bi.bi-magic
    /         i.px-3.bi.bi-circle
    /         | Systeme & Prozesse durch KI unterstützen
          
    

    .page-section
      .row.pb-3
        .col.text-start
          h4  
            i.bi.bi-play-circle.text-primary
            span.px-2
            | DEIN GEWINN
          / h4 KENNST DU ETWAS DAVON ?
      .row 
        .col-12.text-start
          
          p.pb-3 Durch eine klare Strategie und einer gut integrierten Systemlandschaft bekommst du:

          .display-9.pb-4
            i.px-3.bi.bi-clock
            | Mehr Zeit für das eigentliche Kernbusiness 
          .display-9.pb-4
            i.px-3.bi.bi-check
            | Weniger Fehler durch händische manuelle Prozesse 
          .display-9.pb-4
            i.px-3.bi.bi-stars
            | Mehr Qualität und höhere Kundenzufriedenheit
          .display-9.pb-4
            i.px-3.bi.bi-cash-stack
            | Unternehmenseffizienz und mehr Gewinn

    

    .page-section
      .row.pb-3
        .col.text-start
          h4  
            i.bi.bi-play-circle.text-primary
            span.px-2
            | ÜBER MICH
          / h4 KENNST DU ETWAS DAVON ?
      .row 
        .col-12.col-lg-9.text-start.pt-3
          p Hi, ich bin Tobi,
          p Ich konzipiere, entwickle und integriere Software & Systeme.
          p Schon seit Kind auf bin ich digitalbegeistert. Aufgewachsen mit einem knatterndem 56k Modem, fing ich schon früh an mit den ersten CMS Systemen eigene Webanwendungen zu bauen. 
          p Für mich war klar, ich werde Informatik studieren, um wirklich die tiefen der Software- und System-Ingeneurskunst zu verstehen und selber komplexe Systeme aufbauen und entwickeln zu können.
          p Nach meinem Bachelor Studium in Software Engineering in Konstanz bin ich an die Freie Universität Berlin für mein Master Studiengang in Informatik. Ich will und wollte noch mehr lernen und verstehen. Mein Vertiefungsgebiet waren Webtechnologien. Dazu habe ich mich auf Unternehmensgründungen in der IT Branche fokussiert.
          p Seit 2012 entwerfe und entwickle ich Software-Systeme als Software Ingenieur und auch als Mitgründer. Dabei sind meine Schwerpunkte APIs und Systemintegrationen. Ich will das Rad nicht neu erfinden, sondern existierende Systeme auf die eigenen Bedürfnisse anpassen.
          p Diese Kombination aus Unternehmerischen Denkens und technischer Tiefe ist meine Dienstleistung.

          a.card-link href="https://calendly.com/hi-tschmid/effizienzgespraech" target="_blank"
            | -> kostenloses Erstgespräch

        .col-12.col-lg-3.text-start.pt-3
          .card.h-100
            .card-body
              .py-2
                div
                  | Freie Universität Berlin
                div 
                  b 
                    i.bi.bi-award
                    = " Master of Science"
                div
                  | Informatik
                hr
              .py-2 
                div
                  | Hochschule Konstanz
                div 
                  b 
                    i.bi.bi-award
                    =" Bachelor of Science"
                div 
                  | Software Engineering
                hr
              .py-2 
                div
                  a.card-link.text-secondary href="https://www.linkedin.com/in/tobias-schmid/" target="_blank"
                    | -> Meine Berufserfahrung
    
    

    .page-section
      .row.pb-3
        .col.text-start
          h4  
            i.bi.bi-play-circle.text-primary
            span.px-2
            | EINE AUSWAHL AN ERFOLGSGESCHICHTEN
      .row 
        .col.pt-5
          #projectAccordion.accordion.text-start
            = partial(:project_item, :locals => { id: 1, title1: "Vemove GmbH", title2: "Ein maßgeschneidertes TMS für Effizienz und Skalierung", icon:"truck-flatbed" }) do
              / p 
              /   b Vorher: 
              /   | Viel Handarbeit - Viele Excel Tabellen, E-mail und Telefon Schleifen.
              / p 
              /   b Nachher: 
              /   | ein maßgeschneidertes Transport Management System, welches die Abläufe digitalisiert und automatisiert abbildet und zur Skalierung von Vemove verholfen hat.
              / p 
              /   b Mein Auftrag: 

            / icon: building
            = partial(:project_item, :locals => { id: 2, title1: "]init AG[ - Bundesfamilienministerium", title2: "Elterngeld digital beantragen - Digitalisierung von Verwaltungsdienstleistungen", icon:"bank" }) do
              / p 
              /   b Vorher: 
              /   | Elterngeldanträge mussten teils augedruckt und händisch ausgefüllt werden.
              / p 
              /   b Nachher: 
              /   | Durch ElterngeldDigital haben wir das Fundament für digitale Elterngeldanträge geschaffen.
              / p 
              /   b Mein Auftrag: 

            = partial(:project_item, :locals => { id: 3, title1: "Scheibner m-tec GmbH", title2: "Automatisierte Generierung von Messprotokollen durch ein Assistenz-System", icon:"wrench-adjustable"  }) do
              / p 
              /   b Vorher: 
              /   | Ein mechanisches Messsystem zur Vermessung von E-Bike- und Fahrradrahmen, welches ohne Anleitung schwer zu bedienen ist 
              / p 
              /   b Nachher: 
              /   | Ein digitales Assistenz-System, welches den gesammten Messablauf digital abbildet und den Nutzer durch die Messung begleitet und abschließend automatisiert ein Messprotokoll (für Prüfberichte) generiert.
              / p 
              /   b Mein Auftrag: 
 
            / icon: hospital
            = partial(:project_item, :locals => { id: 4, title1: "Aino Betriebsmedizin GmbH", title2: "Integration der coVidGO Zertifikate in die Corona-Warn-App", icon: "activity" }) do
              / p 
              /   b Vorher: 
              /   | 
              / p 
              /   b Nachher: 
              /   | 
              / p 
                b Mein Auftrag: 
            /  zur Vorausschauende Wartung von Flottenfahrzeugen
            = partial(:project_item, :locals => { id: 5, title1: "Volkswagen AG", title2: "Integration der On-Board Diagnosen (OBD2) in ein Flotten Wartungsmanagement System", icon: "car-front-fill" }) do
              / p 
              /   b Vorher: 
              /   | Auf dem deutschen
              / p 
              /   b Nachher: 
              /   | 
              / p 
              /   b Mein Auftrag: 

            = partial(:project_item, :locals => { id: 6, title1: "FIEGE Logistik", title2: "Erstellung einer technischen Sorgfaltsprüfung (TDD) für die strategische Weiterentwicklung der \"angelbringts\" Plattform", icon: "box" }) do
              / p 
              /   b Vorher: 
              /   | 
              / p 
              /   b Nachher: 
              /   | 
              / p 
              /   b Mein Auftrag: 

            / icon: box box-seam-fill
            = partial(:project_item, :locals => { id: 7, title1: "DPD (Schweiz) AG", title2: "Integration des ImagineCargo TMS System für ein DPD Pilot Projekt", icon: "box-seam" }) do
              / p 
              /   b Vorher: 
              /   | 
              / p 
              /   b Nachher: 
              /   | 
              / p 
              /   b Mein Auftrag: 